@import '../../shared.scss';

.wrapper {
  @include bg;
  width: 100%;
  margin: 0 auto;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  line-height: 1.875rem;
  color: $color-main;
}

.allArticles {
	display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 1rem 5rem;
    a {
      text-decoration: none;
      color: rgb(167, 149, 238); 
    }
}

.article {
  margin: 0;
  width: 29%;
  height: 17rem;
  flex-grow: 1;
  box-shadow: rgb(95, 93, 168) 0px 0px 7px;
  margin: 1.6rem;
  padding: 0.5rem;
  background: $background-img;
  background-repeat: no-repeat;
  background-size: cover;
}

.articlesImgTitle {
  display: flex;
  width: 100%;
  margin-top: 0.4rem
}

.articlesImgDate {
  width: 50%;
}

.articlesTitle {
  width: 50%;
  margin-left: 0.3rem;
}

.selectedArticle {
  width: 50%;
  margin: 0 auto;
    img {
      margin: 0 auto;
      width: 75%;
      box-shadow: rgb(77, 74, 74) 1px 1px 5px;;
    }
    a {
      color: rgb(121, 99, 211); 
    }
}

.title {
  font-size: 2.5rem;
  line-height: 2.875rem;
  font-weight: 500;
  padding: 1.6rem 0 0.8rem;
}

.articlesDate {
  color: rgb(153, 153, 168);
  margin-top: 0.2rem;
  font-size: 0.8rem;
}

.date {
	color: rgb(118, 118, 131);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.body {
  margin-top: 2rem;
  white-space: pre-line;
  text-align: left;
}