@import '../Coins/Coins.module.scss';

.tableExchanges {
  th:nth-child(2) {
    padding: 0 7rem;
  }
  th:nth-child(3) {
    padding: 0 4rem;
  }
  th:nth-child(4) {
    padding: 0 4rem;
  }
  th:nth-child(5) {
    padding: 0 2rem;
  }
  th:nth-child(6) {
    padding: 0 1rem;
  }
  th:nth-child(7) {
    padding: 0 2rem;
  }

  td {
    padding: 0.5rem !important;
  }

td:nth-child(2) {
  padding-left: 1rem !important;
}
  td:nth-child(3) {
    > div {
      display: flex;
      align-items: center;
      > div {
        width: 80%;
        height: 0.8rem;
        margin-right: 0.5rem;
      }
    }
  }
  td:nth-child(4) {
    padding: 0 2rem !important;
  }
}

.exchangeLink {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 0.8rem;
  > img {
    width: 2.5rem;
    height: 2.5rem;
  }
}