@import "../Coins/Coins.module.scss";

.tableExchanges {
  th:nth-child(1) {
    padding: 0 1.3rem;
  }
  th:nth-child(3) {
    padding: 0 2.3rem;
  }
  th:nth-child(4) {
    padding: 0 2rem;
  }
  th:nth-child(5) {
    padding: 0 1rem;
  }
  th:nth-child(6) {
    padding: 0 2rem;
  }

  td {
    padding: 0.5rem !important;
  }
  td:nth-child(2) {
    > div {
      display: flex;
      align-items: center;
      text-align: left;
      font-weight: 500;
      > a:first-child {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  td:nth-child(3) {
    > div {
      display: flex;
      align-items: center;
      > div {
        width: 80%;
        height: 0.8rem;
        margin-right: 0.5rem;
      }
    }
  }
  td:nth-child(4) {
    padding: 0 2rem !important;
  }
}