@import "../../../variables.scss";

.exchange {
  max-width: 1600px;
  margin: 0 auto;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 992px) {
    padding: 2rem 1.2rem;
  }
}

.logo {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.name {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.list {
  margin-bottom: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  > li {
    word-wrap: break-word;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    background: linear-gradient( rgba(164, 164, 255, 0.37), rgba(39, 39, 254, 0.3));
    backdrop-filter: blur(5px);
    .textMain, .siteLink {
      font-size: 1.2rem;
    }
    .siteLink {

    }
    .textSecondary {
      display: block;
      margin-top: 0.5rem;
      font-size: 1rem;
      color: $color-secondary;
      @media (max-width: 400px) {
        font-size: 0.8rem;
      }
    }
  }
}



.description {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: gray;
}
