@import "../../../variables.scss";

.table {
  margin: 0 auto;
  margin-top: 1rem;
  width: 90%;
  max-width: 1600px;
  text-align: center;
  font-size: 0.9rem;
  @media (max-width: 1281px) {
    width: 95%;
    overflow-x: auto;
  }
  thead {
    position: sticky;
    top: -2px;
    height: 3rem;
    background-color: rgb(31, 30, 30);
    z-index: 2;
  }
  th {
    background-color: rgba(73, 73, 73, 0.3) !important;
    border-top: 1px solid rgb(73, 73, 73) !important;
  }
  tr {
    vertical-align: middle;
  }
  td {
    background-color: rgb(18, 18, 18, 0.4) !important;
    padding: 0 !important;
  }
}

.tableCoins {
  thead {
    height: 3.5rem;
    th:nth-child(1) {
      padding: 0 1.3rem;
    }
    th:nth-child(2) {
      text-align: left;

      @media screen and (max-width: 767px) {
        max-width: 12rem;
      }
    }
    th:nth-child(3) {
      text-align: right;
      padding-right: 1.5rem;
      padding-left: 3.2rem;
    }
    th:nth-child(4) {
      padding: 0 1.5rem;
    }
    th:nth-child(5) {
      padding: 0 1.5rem;
    }
    th:nth-child(6) {
      padding: 0 1.5rem;
    }
    th:nth-child(7) {
      padding: 0 2.5rem;
    }
    th:nth-child(8) {
      padding: 0 1.2rem;
    }
    th:nth-child(9) {
      padding: 0 4rem;
    }
  }
  tbody {
    .link {
      display: flex;
      align-items: center;
      p:nth-child(2) {
        margin-left: 0.8rem;
        font-size: 0.95rem;
      }
      span {
        margin-left: 0.4rem;
        font-size: 0.8rem;
        color: $color-secondary;
      }
    }
    td {
      padding: 0.2rem !important;
    }
    td:nth-child(2) {
      text-align: left;
    }
    td:nth-child(3) {
      text-align: right;
      padding-right: 1rem !important;
      font-weight: 450;
    }
    td:nth-child(9) {
      width: 13rem;
    }
  }
}

.percentagePlus {
  color: $color-plus;
}

.percentageMinus {
  color: $color-minus;
}

.pagination {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}