@import "./Home.module.scss";
@import "../../variables.scss";

.caption {
  height: 100%;
  display: grid;
  grid-template-areas:
    "."
    "c"
    "f"
    ".";
  grid-template-rows: 10% 62% 15% 18%;
  @media (max-width: 1350px) {
    grid-template-rows: 10% 73% 4% 18%;
  }
  .footer {
    grid-area: f;
    margin: 0 auto;
    width: fit-content;
    h1 {
      font-size: 1.9rem;
      @media (max-width: 1350px) {
        font-size: 1.1rem;
        margin-top: 0.85rem;
      }
    }
    p {
      font-size: 1.1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.3rem;
      margin-right: auto;
      margin-left: auto;
      width: fit-content;
      @media (max-width: 1350px) {
        display: none;
      }
    }
  }
  .footerCrypto {
    @media (max-width: 880px) {
      padding-top: 0.5rem;
    }
  }
}

.image {
  filter: brightness(40%) sepia(100%) hue-rotate(190deg) saturate(200%);
  width: 100%;
  height: 19rem;
  > img {
    @media (max-width: 740px) {
      height: 100%;
    }
  }
}

.imageCrypto {
  filter: brightness(40%);
  > img {
    height: 100%;
    width: 100%;
  }
}

.carouselInfo {
  grid-area: c;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  > li > a {
    display: flex;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
    padding: 0.8rem 0.6rem;
    min-height: 4.9rem;
    width: 18rem;
    border-radius: 0.5rem;
    border-left: 10px solid rgb(0, 140, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    @media (max-width: 1350px) {
      padding: 0.4rem 0.2rem;
      min-height: 3.5rem;
    }
  }
}

.cryptoData {
  @media (max-width: 880px) {
    gap: 0.5rem;
  }
  .cryptoLink {
    > div:nth-child(1) {
      font-size: 1.1rem;
      font-weight: 500;
      > span {
        font-size: 0.9rem;
      }
    }
    > p:last-child {
      margin-top: 0.1rem;
      font-size: 0.9rem;
      color: $color-secondary;
    }
  }
}

.articlesData {
  @media (max-width: 1350px) {
    row-gap: 0.5rem;
  }
  .articlesLink {
    min-height: 5rem;
    text-align: left;
    > p:first-child {
      margin-left: 0.5rem;
      font-size: 1.1rem;
      font-weight: 500;
    }
    > p:nth-child(2) {
      margin-right: auto;
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      margin-top: 0.1rem;
      font-size: 0.9rem;
      color: $color-secondary;
    }
  }
  > li:nth-child(3) {
    @media (max-width: 880px) {
      display: none;
    }
  }
}
