@import "./Home.module.scss";

.caption {
  height: 100%;
  display: grid;
  grid-template-areas:
    "."
    "c"
    "f"
    ".";
  grid-template-rows: 10% 62% 15% 18%;
  @media (max-width: 1350px) {
    grid-template-rows: 10% 73% 4% 18%;
  }
  .footer {
    grid-area: f;
    h1 {
      font-size: 1.9rem;
      @media (max-width: 1350px) {
        font-size: 1.1rem;
        margin-top: 0.85rem;
      }
      @media (max-width: 365px) {
        font-size: 1rem;
        margin-top: 1.2rem;
      }
    }
    p {
      font-size: 1.1rem;
      margin-bottom: 0.3rem;
      @media (max-width: 1350px) {
        display: none;
      }
    }
  }
  .footerCrypto {
    @media (max-width: 880px) {
      padding-top: 0.5rem;
    }
  }
}

.image {
  filter: brightness(40%);
  width: 100%;
  height: 19rem;
  > img {
    @media (max-width: 740px) {
      height: 100%;
    }
  }
}

.imageCrypto {
  > img {
    height: 100%;
    width: 100%;
  }
}

.carouselInfo {
  grid-area: c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2.5rem;
  width: 100%;
  height: 100%;
  @media (max-width: 1350px) {
  }
  > a {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    padding: 0.8rem 0.6rem;
    min-height: 4.9rem;
    width: 18rem;
    border-radius: 0.5rem;
    border-left: 10px solid rgba(0, 59, 253, 0.35);
    display: flex;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
    @media (max-width: 1350px) {
      padding: 0.4rem 0.2rem;
      min-height: 3.5rem;
    }
  }
}

.cryptoData {
  @media (max-width: 880px) {
    gap: 0.5rem;
  }
  > a {
    > div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      > div:nth-child(1) {
        font-weight: 500;
      }
      > div:nth-child(2) {
        font-size: 0.9rem;
        margin-left: 0.5rem;
      }
    }
    > div:last-child {
      margin-top: 0.1rem;
      font-size: 0.9rem;
      color: rgb(141, 142, 143);
    }
  }
  > div:nth-child(2),
  div:nth-child(3) {
    > div:first-child {
      font-weight: 500;
    }
  }
}

.articlesData {
  @media (max-width: 1350px) {
    gap: 0.5rem;
  }
  > a {
    min-height: 5rem;
    text-align: left;
    > div:first-child {
      font-weight: 500;
    }
    > div:last-child {
      margin-right: auto;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      margin-top: 0.1rem;
      font-size: 0.9rem;
      color: rgb(141, 142, 143);
    }
  }

  > a:nth-child(3) {
    @media (max-width: 835px) {
      display: none;
    }
  }
}
