@import "../../variables.scss";

.home {
  max-width: 1600px;
  margin: 0 auto;
}

.caption {
  height: 100%;
  display: grid;
  grid-template-areas:
    "."
    "c"
    "f"
    ".";
  grid-template-rows: 10% 62% 15% 18%;
  @media (max-width: 1350px) {
    grid-template-rows: 10% 73% 4% 18%;
  }
  .footer {
    grid-area: f;
    margin: 0 auto;
    width: fit-content;
    @media (max-width: 400px) {
      padding-top: 0.25rem;
    }

    h1 {
      font-size: 1.9rem;
      @media (max-width: 1350px) {
        font-size: 1.1rem;
        margin-top: 0.85rem;
      }
      @media (max-width: 400px) {
        font-size: 0.9rem;
      }
    }
    p {
      font-size: 1.1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.3rem;
      margin-right: auto;
      margin-left: auto;
      width: fit-content;
      @media (max-width: 1350px) {
        display: none;
      }
    }
  }
  .footerCrypto {
    @media (max-width: 880px) {
      padding-top: 0.5rem;
    }
  }
}

.image {
  filter: brightness(40%) sepia(100%) hue-rotate(190deg) saturate(200%);
  width: 100%;
  height: 19rem;
  > img {
    @media (max-width: 740px) {
      height: 100%;
    }
  }
}

.imageCrypto {
  filter: brightness(40%);
  > img {
    height: 100%;
    width: 100%;
  }
}

.carouselInfo {
  grid-area: c;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  > li {
    width: 18rem;
    max-height: 6.5rem;
    overflow-y: auto;
    @media (max-width: 400px) {
      width: 100%;
    }

    > a {
      display: flex;
      align-items: center;
      flex-direction: column;
      word-wrap: break-word;
      padding: 0.8rem 0.6rem;
      min-height: 4.9rem;
      border-radius: 0.5rem;
      border-left: 10px solid rgb(0, 140, 255, 0.7);
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(5px);
      @media (max-width: 1350px) {
        padding: 0.4rem 0.2rem;
        min-height: 3.5rem;
      }
    }
  }
}

.cryptoData {
  @media (max-width: 880px) {
    gap: 0.5rem;
  }
  .cryptoLink {
    > div:first-child {
      font-size: 1.1rem;
      font-weight: 500;
      @media (max-width: 400px) {
        font-size: 0.9rem
      }
      > span {
        font-size: 0.9rem;
        @media (max-width: 400px) {
          font-size: 0.7rem
        }
      }
    }
    > p:last-child {
      margin-top: 0.1rem;
      font-size: 0.9rem;
      color: $color-secondary;
      @media (max-width: 400px) {
        font-size: 0.7rem
      }
    }
  }
}

.articlesData {
  @media (max-width: 1350px) {
    row-gap: 0.5rem;
  }
  .articlesLink {
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    > p:first-child {
      margin-left: 0.5rem;
      font-size: 1.1rem;
      font-weight: 500;
      @media (max-width: 400px) {
        font-size: 0.9rem
      }
    }
    > p:nth-child(2) {
      margin-right: auto;
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      margin-top: 0.1rem;
      font-size: 0.9rem;
      color: $color-secondary;
      @media (max-width: 400px) {
        font-size: 0.7rem
      }
    }
  }
  > li:nth-child(3) {
    @media (max-width: 880px) {
      display: none;
    }
  }
}

.articlesDate {
display: flex;
align-items: center;
gap: 4px;
}

.coins {
  padding: 0.6rem 2.3rem;
  text-align: center;
  @media (max-width: 880px) {
    padding: 0rem 0rem;
  }
}

.coinsList {
  display: grid;
  grid-template-columns: repeat(6, minmax(12.5rem, 13.5rem));
  grid-template-rows: 6rem;
  grid-auto-flow: column;
  gap: 1.05rem;
  padding: 0.2rem 0.2rem;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 8px;
    @media (max-width: 1199px) {
      height: 5px;
    }
  }

  @media (min-width: 1411px) {
    justify-content: center;
  }
  @media (max-width: 1360px) {
    padding: 0.9rem 0.2rem 0.5rem 0.2rem;
  }
  @media (max-width: 880px) {
    padding: 0.2rem 0.6rem 0.5rem 0.6rem;
  }

  .item {
    display: flex;
    width: 100%;
    height: 100%;
    background: $bg-img;
    background-size: cover;
    box-shadow: rgb(95, 93, 168) 0 0 5px -1px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: rgb(95, 93, 168) 0 0 5px 2px;
    }
  }

  .cryptoLeftSide {
    width: 31%;
    padding: 0.35rem 0.1rem;
    font-size: 0.8rem;
    > img {
      margin-top: 10px;
      display: block;
      width: 35px;
      height: 35px;
      margin: 0 auto;
      filter: brightness(100%);
    }
    > p:nth-child(2) {
      margin-top: 0.7rem;
      font-weight: 500;
    }
    > p:nth-child(3) {
      margin-top: 0.1rem;
    }
  }
}

.cryptoRightSide {
  width: 69%;
  height: 100%;
  font-size: 15px;
  padding: 0.2rem 0.2rem 0.2rem 0;
  > .cryptoRightTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    > p:nth-child(2) {
      margin-top: 0.14rem;
    }
    .price {
      font-weight: 680;
      color: $color-main;
      margin-top: 0.14rem;
    }
  }
  .chart {
    width: 100%;
    height: 70%;
  }
}

.articles {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  color: $color-main;
  padding: 0 2.5rem;
  @media (max-width: 1360px) {
    margin-top: 1rem;
    width: 100%;
  }
  @media (max-width: 1020px) {
    flex-direction: column;
    padding: 0 1rem;
  }
  h2 {
    text-align: left;
    font-size: 1.2rem;
    @media (max-width: 1020px) {
      text-align: center;
    }
    .arrow {
      width: 18px;
      height: 18px;
      margin-left: 3px;
      margin-bottom: 1.5px;
      fill: currentColor;
    }
  }
}

.articlesLeft {
  max-width: 57%;
  font-size: 1.05rem;
  margin-right: 4rem;
  @media (max-width: 1210px) {
    max-width: 95%;
    margin: 0 auto;  
  }
  > .articlesLeftList {
    display: flex;
    gap: 5vw;
    margin-top: 0.7rem;
    @media (max-width: 1210px) {
      justify-content: center;
    }
    @media (max-width: 568px) {
      flex-wrap: wrap;
    }
    .articlesLeftLink {
      &:hover img {
        transform: scale(1.05);
      }
      > .articlesLeftImg {
        height: 9.5rem;
        width: 16rem;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          filter: brightness(100%);
          object-fit: cover;
          will-change: transform;
          transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
      > p:nth-child(2) {
        margin-top: 0.3rem;
        margin-bottom: -0.2rem;
        font-size: 1rem;
        width: 13.5rem;
      }
      > p:nth-child(3) {
        display: flex;
        margin-top: 0.3rem;
        color: $color-secondary;
        font-size: 0.9rem;
      }
    }
  }
}

.articlesRight {
  max-width: 43%;
  margin: 0 auto;
  border-left: 1px solid $color-secondary;
  margin-left: 2rem;
  @media (max-width: 1020px) {
    max-width: 34.6rem;
    border: none;
    margin-left: auto;
  }
  .articlesRightTitle {
    margin-left: 1.75rem;
    @media (max-width: 1020px) {
      margin-top: 1.2rem;
      margin-bottom: 0.5rem;
      margin-left: 0;
    }
  }
  .articlesRightList {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    @media (max-width: 1020px) {
      margin-bottom: 1.5rem;
    }
    .articlesRightItem {
     min-height: 4.8rem; 
    }
    .articlesRightLink {
      display: grid;
      grid-template-columns: 59px 1fr;
      gap: 1.8rem;
      margin-top: 0.5rem;
      margin-left: 1.75rem;
      font-size: 1rem;
      &:hover img {
        transform: scale(1.15);
      }
      @media (max-width: 1020px) {
        margin-left: 0;
      }
      .articlesRightImg {
        width: 100%;
        height: 59px;
        border-radius: 50%;
        overflow: hidden;
        @media (max-width: 1210px) {
          margin-top: 0.5rem;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(100%);
          will-change: transform;
          transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
      .articlesRightDescription {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        > p:nth-child(2) {
          flex-grow: 1;
          display: flex;
          color: $color-secondary;
          font-size: 0.9rem;
        }
      }
    }
  }
}
