@import '../../shared.scss';

.header {
  display: flex;
  justify-content: center;
  height: 1rem;
  background-color: $bg-color-header;
  box-shadow: $box-shadow;
  padding: 2rem;
  background: $background-img;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top 1% left 10%;
  position: relative;
  z-index: 10;
}

.item {
  text-decoration: none;
  vertical-align: middle;
  margin: 12px;
  color: $color-main;
    &:hover {
      color:rgb(136, 136, 204)
    }
}

.active {
  text-decoration: none;
  vertical-align: middle;
  margin: 12px;
  color: $color-main;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}