.header {
  display: flex;
  justify-content: center;
  height: 1rem;
  background-color: var(--bg-color-header);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  background: linear-gradient( rgba(9, 9, 14, 0.89), rgba(3, 3, 5, 0.8) ), url('../../assets/images/bg-body.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top 1% left 10%;
  position: relative;
  z-index: 10;
}

.item {
  text-decoration: none;
  color: black;
  vertical-align: middle;
  margin: 12px;
  color: var(--color-main);
}

.active {
  text-decoration: none;
  color: black;
  vertical-align: middle;
  margin: 12px;
  color: var(--color-main);
}

.item:hover {
  color:rgb(136, 136, 204)
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}