@import 'variables.scss';

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  height: 3.8rem;
  box-shadow: $box-shadow;
  background: $bg-img;
  background-attachment: fixed;
  background-position: top 1% left 10%;
  font-size: 1.2rem;
  letter-spacing: 0.04em;
  @media (max-width: 1199px) {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
  }
}