@import '../../shared.scss';

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.8rem;
  width: 100%;
  font-size: 1.1rem;
  box-shadow: $box-shadow;
  background: $background-img;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top 1% left 10%;
  position: relative;
  z-index: 10;
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      gap: 2.5rem;
        * {
          text-decoration: none;
          color: $color-main;
            &:hover {
              color:$color-a-hover;
            }
        }
    }
}