.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  letter-spacing: 20px;

  .text {
    padding-left: 1.1rem;
    color: #fff;
    margin: 5px 0;
    font-family: "Arial", sans-serif;
  }
}

.small {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    margin: 5px 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
  }
}


.line {
  width: 1px;
  height: 12px;
  background: #fff;
  margin: 0 1px;
  display: inline-block;
  animation: opacity-1 1000ms infinite ease-in-out;
}

.line {
  animation-delay: 800ms;
}
.line2 {
  animation-delay: 600ms;
}
.line3 {
  animation-delay: 400ms;
}
.line4 {
  animation-delay: 200ms;
}
.line6 {
  animation-delay: 200ms;
}
.line7 {
  animation-delay: 400ms;
}
.line8 {
  animation-delay: 600ms;
}
.line9 {
  animation-delay: 800ms;
}

@keyframes opacity-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
