@import '../Coins/Coins.module.scss';

.checkResult {
  border-bottom: 1px solid rgb(150, 150, 150);
  margin-bottom: 1rem;
}

.checkResultList {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
  @media (max-width: 700px) {
    gap: 0.7rem;
  }
  .pairPrice {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: rgb(136, 135, 135);
  }
}

.result {
  margin: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}  

.checkBtn {
  display: flex !important;
  margin: 0 auto !important;
}

.arrowRight {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  fill: currentColor;
}

.refreshIcon {
  display: block;
  margin: 0 auto;
  margin-top: -15px;
  margin-bottom: -15px;
  width: 65px;
  height: 65px;
  cursor: pointer;
  fill: currentColor;
}

.fallback {
  text-align: center;
  margin-top: 0.8rem;
  font-size: 1.05rem;
}

.tableArbitrage {
  width: 55%;
  @media (max-width: 1200px) {
    width: 70%;
  }
  @media (max-width: 992px) {
    width: 80%;
  }
  @media (max-width: 768px) {
    width: 90%;
  }
  @media (max-width: 576px) {
    width: 95%;
  }

  .arbitrageHead {
    height: 2rem !important;
    th:nth-child(1) {
      padding: 0 1.4rem;
    }
    th:nth-child(2) {
      padding: 0 1.4rem;
    }
    th:nth-child(3) {
      padding: 0 1.4rem;
    }
    th:nth-child(4) {
      padding: 0 1.4rem;
    }
    th:nth-child(5) {
      padding: 0 1.7rem;
    }
    th:nth-child(6) {
      padding: 0 1.4rem;
    }
    th:nth-child(7) {
      padding: 0 1rem;
    }
  } 
  
  .arbitrageBody {
    > td {
      padding: 0.15rem !important;
      cursor: pointer;
    }
    > td:nth-child(odd) {
      color:rgb(150, 150, 150);
    }
    > td:nth-child(7) {
      color: rgb(58, 173, 67);
    }
  }
}