@import '../../variables.scss';

.wrapper {
  width: auto;
}

.crypto {
  color: $color-main;
    > div {
      margin-top: 0.5rem;
    }
    a {
      text-decoration: none;
      color: $color-main;
      margin: 1.5rem;
    }
}