@import "../../variables.scss";

.navCrypto {
  margin: 0.5rem 0;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  height: 1.8rem;
  > div:first-child {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 0.3rem;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(1, 49, 104, 0.9),
      rgba(0, 0, 0, 0) 6%
    );
    // @media (max-width: 1000px) {
    //   display: none;
    // }
  }
  > div:last-child {
    position: absolute;
    left: 5.5%;
    display: flex;
    gap: 0.5rem;
    @media (max-width: 1000px) {
      display: none;
    }
    > a {
      display: flex;
      color: $color-main;
      .arrow {
        margin: 0.3rem 0rem 0rem 0.5rem;
        transform: scale(1.2);
      }
      .home {
        margin-top: 0.23rem;
        margin-right: 0.5rem;
        transform: scale(1.3);
      }
      &:hover {
        color: rgb(18,107,210, 0.9);
      }
    }
    > span {
      color:rgb(128, 128, 128);
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
  a {
    text-decoration: none;
    color: rgb(207, 207, 207);
    &:hover {
      color: rgb(18,107,210, 0.9);
    }
  }
}
