@import "../../variables.scss";

.navCrypto {
  height: 1.8rem;
  margin: 0.5rem 0;
  display: grid;
  grid-template-areas: ". l c .";
  grid-template-columns: 0.3fr 0.7fr 1fr 1fr;
  box-shadow: 0 5px 4px -6px #5f5da8;
  @media (max-width: 1000px) {
    display: none;
  }
  > .listLeft {
    grid-area: l;
    display: flex;
    gap: 0.5rem;
    .leftLink {
      display: flex;
      align-items: center;
      .arrow {
        margin: 0.3rem 0 0 0.5rem;
        transform: scale(1.2);
      }
      .home {
        margin-top: 0.2rem;
        margin-right: 0.5rem;
        transform: scale(1.35);
      }
    }
    .currentPath {
      color:rgb(128, 128, 128);
      text-transform: capitalize;
    }
  }
  > .listCenter {
    grid-area: c;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
