@import "../../variables.scss";

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.heading {
  width: 90%;
  text-align: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid $color-accent;
  @media (max-width: 1000px) {
    width: 95%; 
  }
}

.formImg {
  max-width: 1100px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  @media (max-width: 767px) {
    width: 100%;
  }
  @media (max-width: 1200px) {
    gap: 4rem;
  }
}

.image {
  background-image: url("../../assets/images/contacts.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 280px;
  height: 280px;

  @media (max-width: 1000px) {
    display: none;
  }
}

.contactsForm {
  width: 65%;
  margin: 2rem 1rem;
  @media (max-width: 1000px) {
    width: 85%;
  }
}

.formLabel {
  display: block;
  font-size: 1.1rem;
  .formInput,
  .formTextarea {
    @extend %input;
    width: 100%;
    margin-top: 0.3rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
  }
  .formTextarea {
    min-height: 8rem;
    max-height: 13rem;
    margin-top: 0.2rem;
    margin-bottom: 0;
  }
  .formErrorMessage {
    color: rgb(253, 55, 55);
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
    margin-top: 0.2rem;
    white-space: pre;
  }
}

.formLabel:nth-child(3) > .formErrorMessage {
  margin-top: -0.25rem;
  margin-bottom: 0.3rem;
}

.formButton {
  border-color: $color-accent !important;
  color: $color-accent !important;
  border-radius: 5px;
  width: 100%;
}



.modalTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}
.modalText {
  text-align: center;
  margin-bottom: 1rem;
}
